/* set properties for opening (i.e. use 100% of width of page and 100% of height of page) */ 

#cy {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }